/** @format */

@import "tailwindcss";

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: #fff0e4;
    --foreground: #0e0e0e;
    --accent: #7365b4;
    --selection: rgba(67, 67, 67, 0.305);
    --border-hover: #7869b7;
    --muted: #5f5f5f3f;
    --primary: #7869b7;
    --primary-hover: #190276;
  }

  html,
  body {
    font-family: var(--font-google-sans), sans-serif;
  }

  .button {
    cursor: pointer !important;
  }

  .a {
    cursor: pointer !important;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --accent: hsl(301, 100%, 89%);
    --selection: rgba(255, 255, 255, 0.311);
    --border-hover: #ffb5ec;
    --muted: #5f5f5f3f;
    --primary: #dea6e2;
    --primary-hover: #760246;
  }

  /* theme inline */
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-selection: var(--selection);
    --color-border-hover: var(--border-hover);
    --color-muted: var(--muted);

    --animate-star-movement-bottom: star-movement-bottom linear infinite
      alternate;
    --animate-star-movement-top: star-movement-top linear infinite alternate;

    @keyframes star-movement-bottom {
      0% {
        transform: translate(0%, 0%);
        opacity: 1;
      }
      100% {
        transform: translate(-100%, 0%);
        opacity: 0;
      }
    }
    @keyframes star-movement-top {
      0% {
        transform: translate(0%, 0%);
        opacity: 1;
      }
      100% {
        transform: translate(100%, 0%);
        opacity: 0;
      }
    }
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

/* Theme Toggle Animation styles */
/* Theme Toggle Animation styles */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
